.header{
    height: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5vh;
    font-weight: bold;
    background-color: lightgray;
}
.header a {
    text-decoration: none;

}